:root {
    --button-color: hsl(31, 89%, 71%);
    /*  hsl(280, 48%, 83%); */
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --error-color: hsl(340, 70%, 50%);
    --theme-text-color: hsl(31, 88%, 45%);
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    cursor: url(https://img.icons8.com/plasticine/40/000000/paper-plane.png), auto;
}

body {
    max-width: 30rem;
    margin: 0 auto;
    padding: 2rem;
}

/* header {
    position: absolute;
    right: 10vw;
    top: 3vw;
    width: 10px;
} */

img {
    width: 5vw;
}

h1 {
    word-spacing: 5px;
    text-align: center;
    color: var(--theme-text-color);
}

h1::first-letter {
    font-size: 1.4em;
    font-style: italic;
    font-weight: bold;
    color: hsl(0 60% 50%);
}

form {
    margin-top: 6rem;
}

label,
input,
form button,
form {
    display: block;
}

label {
    margin-top: 5rem;
    line-height: 1;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    margin-top: 1.5rem;
    border-radius: 2px;
    border: 2px solid transparent;
    box-shadow: 0 3px 6px hsla(280, 10%, 40%, 0.2);
    padding: 0.5rem;
    background-color: hsl(0, 0%, 100%);
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: var(--button-color);
}

input[aria-invalid="true"] {
    border-color: var(--error-color);
}

form button {
    display: block;
}

button {
    margin: 4rem auto;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 3px 6px hsla(280, 10%, 20%, 0.2);
    padding: 0.75rem 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: var(--button-color);
    color: hsl(0, 0%, 0%);
    cursor: pointer;
}

/* Grow Shadow -- https://ianlunn.github.io/Hover/#effects */

form button:hover {
    display: block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

form button:hover,
form button:focus,
form button:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#travelButton {
    display: block;
    margin: 4rem auto;
    width: 250px;
    border: 3px solid var(--button-color);
    background: transparent;
    color: var(--theme-text-color);
    font-weight: bold;
    font-size: 1rem;
}

.travelButton:active {
    position: relative;
    top: 2rem;
}

#passwordRequirements {
    margin-top: 0.5rem;
    line-height: 1.1;
    color: hsl(280, 10%, 40%);
}

#passwordError {
    margin-top: 0.5rem;
    line-height: 1.1;
    color: var(--error-color);
}

